@import "./layout.scss";

//@include get-color(color, text-color);
//@include get-color(background-color, bg-color);

.bannels {
  .bannel {
    position: relative;
    transition: background 1s ease-out;
  }
  .pager {
    position: absolute;
    bottom: $leng-24;
    left: calc(50% - 600px);
    @include mobile-size-only {
      left: 40px;
    }
  }
}
.bannel {
  display: flex;
  width: 100%;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  transition: background 1s ease-out;
  background-color: #bbf0f3;
  background-image: linear-gradient(-315deg, #aff6cf 0%, #9f98e8 74%);
  //touch-action: none;
  align-items: flex-end;
  justify-content: center;
  @include mobile-size-only {
    height: 300px;
    margin-bottom: 50px;
  }
  &-inner {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    max-width: 1200px;
    @include mobile-size-only {
      width: calc(100% - 80px);
    }

    &-cont {
      p {
        //mix-blend-mode: overlay;
        line-height: 1.3;
        transform: translateY(-50px);
        transition: all 0.5s 0.5s;
        opacity: 0;
        //text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
      }
      &-title1 {
        width: 30%;
        color: $font-black2;
        font-weight: bold;
        font-size: 3vw;
        min-width: 300px;
        // padding-left: $leng-12;
        padding-top: 50px;

        @at-root .bannel-inner.active & {
          transform: translateY(0px);
          opacity: 1;
        }
        @include mobile-size-only {
          font-size: $size-h1;
        }
      }

      &-title2 {
        color: $font-black3;
        font-size: 1.5vw;
        padding-top: 20px;
        transition-delay: 0.2s;
        //padding-left: $leng-12;

        @at-root .bannel-inner.active & {
          transform: translateY(0px);
          opacity: 1;
        }
        @include mobile-size-only {
          font-size: $size-h6;
        }
      }
    }
  }
}

//wrap

.touch-wrap {
  position: relative;
  padding: $leng-20 0 $leng-40;
  &::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 60%;
    content: "";
    @include get-color(background-color, point-color);
    // background-color: $brand-color3;
  }
}
.thum-wrap {
  width: 100%;
  padding: $leng-20 #{$leng-12/2} $leng-40;
  margin: 0 auto;
  max-width: 1280px;
  @include mobile-size-only {
    padding: $leng-20 $leng-24 $leng-40;
  }
}

//slide content 요소
.center-slide {
  padding-top: $leng-40;
  padding-bottom: $leng-40;

  .animate.card-full {
    transition: transform 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    will-change: transform;
  }

  .card-full {
    padding: $leng-20 0;
    align-items: flex-end;
    min-height: 310px;
    li {
      position: relative;
    }
    a {
      position: relative;
      width: 150px;
      height: 210px;
      transition: all 0.2s ease-in-out;
      opacity: 0.8;
      transform-origin: left bottom;
      ::after {
        display: block;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba(0, 0, 0, 0.3);
      }
    }

    .active a {
      width: 180px;
      height: 270px;
      opacity: 1;
      //transform: scale(1.5);
      ::after {
        content: none;
      }
    }

    &-cover {
      z-index: 1;
    }
    &-cont {
      position: relative;
      text-align: center;
    }
  }
  .elipsis-wrap {
    text-align: center;
  }
}
.card-full {
  @include flex--slide;
  li {
    padding-right: $leng-12;

    a {
      display: block;
      position: relative;
      width: 240px;
      height: 360px;
      box-shadow: $box-shadow2;
      border-radius: $leng-10;
      overflow: hidden;
    }
  }
  &-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    visibility: hidden;
    object-fit: cover;
  }

  &-cover {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    //visibility: hidden;
    @include bg-cover();
  }
  //라이브
  &-view {
    display: flex;
    position: absolute;
    top: $leng-10;
    left: $leng-8;
    z-index: 1;
    font-size: $size-small;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    align-items: center;
    &-logo {
      display: flex;
      width: 50px;
      background-color: $alram-color;
      border-radius: $leng-10;
      align-items: center;
      justify-content: center;
      &-text {
        position: relative;
        color: transparent;
        font-weight: 500;
        letter-spacing: 0.7px;
        &::after {
          display: block;
          position: absolute;
          top: 0;
          left: 0%;
          width: 0%;
          height: 100%;

          content: "LIVE";
          animation: ani-live 2s 1s infinite;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
    &-text {
      padding: 0 10px;
      color: rgba(255, 255, 255, 0.7);
    }
  }

  .elipsis-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    color: rgba(0, 0, 0, 0.7);
    //transition: bottom 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 10px 10px 0 0;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: $box-shadow4;
    @include blur-filter2;
    p {
      color: $font-black2;
    }
  }
}
.card {
  @include flex--slide;
  li {
    padding-right: $leng-12;

    a {
      display: block;
      position: relative;
      width: 300px;
      box-shadow: $box-shadow2;
      border-radius: $leng-10;
      overflow: hidden;
      @include get-color(background-color, bg-color5);
    }
  }

  &-cover {
    @include bgs-cover(100%, 200px, 0);
  }

  &-bottom {
    display: flex;
    padding: 0 $leng-16;
    min-height: 52px;
    align-items: center;
    border-top-width: 1px;
    border-top-style: dashed;
    @include get-color(border-top-color, line-color1);
    ul {
      margin-left: auto;
    }
  }
  .elipsis-wrap-text,
  .card-bottom {
    @include get-color(color, font-color3);
  }
}
.thum-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    @include pc-tablet-size {
      width: 32.5%;
      &:nth-child(2n + 2) {
        margin-top: 0;
      }
      &:nth-child(3n + 2) {
        margin-top: -$leng-20;
      }
    }
    @include tablet-size {
      width: 48.5%;
      &:nth-child(3n + 2) {
        margin-top: 0;
      }
      &:nth-child(2n + 2) {
        margin-top: -$leng-20;
      }
    }

    a {
      display: block;
      position: relative;
      width: 100%;
    }
  }

  &-cover {
    padding: $leng-16;
    text-align: center;
    @include get-color(background-color, point-color);
    @include bgs-cover(100%, auto, 10px);

    img {
      height: 150px;
    }
  }

  .elipsis-wrap {
    width: 100%;
    padding: $leng-12 0px $leng-20;
    &-title {
      font-size: $size-h6;
    }
  }
}
.thum-grid {
  @include flex--slide;
  li {
    padding-right: $leng-12;
    a {
      display: block;
      position: relative;
      //width: 100px;
    }
  }
  &-cover {
    @include bgs-cover(100px, 100px, 10px);
  }
  &-cont {
    padding-top: $leng-8;
    p {
      @include txt-line(none);
    }
    &-view {
      font-size: $size-small;
      @include get-color(color, font-color3);
    }
  }
}

.category.thum-grid {
  margin: 0 -8px;
  flex-wrap: wrap;
  justify-content: space-around;

  li {
    margin: 0 8px;
    padding-right: 0;
    padding-bottom: $leng-16;
    flex: 1 1 20%;
    a {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .thum-grid-cover {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    // @include bgs-cover(55px, 55px, 10px);
  }
  .thum-grid-cont {
    padding-top: 4px;
    &-name {
      font-size: $size-small;
      text-align: center;
      @include get-color(color, font-color3);
    }
  }
}

.list.thum-grid {
  flex-wrap: wrap;
  flex-direction: column;

  li {
    width: 100%;
    padding-right: 0;
    padding-bottom: $leng-16;

    a {
      display: flex;
      padding: 12px;
      border: 1px;
      flex-direction: row;
      justify-content: start;
      align-items: center;

      border-radius: 10px;
      border-style: solid;
      @include get-color(border-color, line-color1);
    }
  }
  .thum-grid-cover {
    flex: 0 0 auto;
    @include bgs-cover(70px, 70px, 10px);
  }
  .thum-grid-cont {
    width: calc(100% - 70px);
    padding-top: 0px;
    padding-left: 12px;
    &-name {
      font-weight: 600;
      font-size: $size-h6;
      @include txt-line(none);
      @include get-color(color, font-color2);
    }
    &-view {
      font-size: $size-small;
      @include get-color(color, font-color3);
    }
  }
}

//리스트
.info-list {
  display: flex;
  list-style: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  li {
    width: 100%;
    border-bottom-width: 1px;
    border-style: solid;
    @include get-color(border-color, line-color1);
    &:last-child {
      border: 0 none;
    }

    a {
      display: flex;
      height: 55px;
      font-size: $size-h6;
      align-items: center;
      @include get-color(color, font-color3);
      .icon {
        padding-left: $leng-16;
        padding-right: $leng-24;
      }
    }
  }
}
.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    padding: $leng-8 $leng-16;
    margin: 0 4px;
    font-size: $size-small;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 25px;
  }
}
.sns-list {
  display: flex;
  li {
    margin-left: 6px;
    a:hover img,
    a:focus img {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
    img {
      width: 28px;
      transition: all 0.5s;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }
}
.profile-circle-list {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;

  li {
    border-width: 2px;
    border-style: solid;
    @include get-color(border-color, bg-color1);
    @include bgs-cover(35px, 35px, 50%);

    &:not(:nth-child(1)) {
      margin-right: (-15px);
    }
  }
}
.good-circle-list {
  // padding: 0 12px;
  li {
    /* display: flex;
    align-items: center;
    justify-content: flex-start; */
    font-size: 0;
  }
  &--view {
    display: flex;
    align-items: center;
    padding-left: $leng-8;
  }
  &-cover {
    display: inline-block;
    margin-right: $leng-8;
    @include bgs-cover(45px, 45px, 50%);
  }

  .elipsis-wrap {
    display: inline-block;
    width: calc(100% - 45px - 8px);
    padding: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    vertical-align: 5px;
    &-title {
      font-weight: 500;
      font-size: $size-h6;
      padding-bottom: ($leng-8/2);
      opacity: 0.9;
      @include txt-line(none);
    }
    &-text {
      display: flex;
      font-size: $size-small;
      line-height: 1;
      align-items: center;
      opacity: 0.8;
      .icon {
        padding: 0 8px;
        font-size: $size-normal;
      }
    }
  }
}
//팝업
.pop-full {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  //z-index: 65;
  z-index: 55;
  width: 100%;
  //max-width: 500px;
  height: 100vh;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  min-width: 280px;
  @at-root .bodyfixed & {
    box-shadow: $box-shadow4;
  }
  @include get-color(background-color, bg-color1);
  @include pc-tablet-size {
    left: 65px;
    // z-index: 45;
    max-width: 400px;
  }
}
.pop {
  &-header {
    display: flex;
    position: relative;
    width: 100%;
    width: 100%;
    height: 65px;
    padding: $leng-12;
    margin: 0 auto;
    border-bottom-width: 1px;
    border-style: solid;
    align-items: center;
    @include mobile-size-only {
      padding: 0 $leng-24;
    }
    @include get-color(border-color, line-color1);
    &-title {
      display: inline-flex;
      font-weight: 500;
      //color: $brand-color;
      font-size: $size-h5;
      @include get-color(color, font-color2);
    }
    &-prev-btn {
      display: flex;
      position: absolute;
      top: 0;
      left: 24px;
      width: 45px;
      height: 100%;
      align-items: center;
      @include get-color(color, font-color2);
      @include pc-tablet-size {
        left: 16px;
      }
    }
    &-close-btn {
      display: flex;
      position: absolute;
      top: 0;
      right: 24px;
      width: 45px;
      height: 100%;
      align-items: center;
      justify-content: flex-end;
      @include get-color(color, font-color2);
      @include pc-tablet-size {
        right: 16px;
      }
    }
  }

  &-content {
    height: calc(100vh - 65px);

    @include scroll-wrap;
    &-inner {
      padding: $leng-40 $leng-24 $leng-80;
      @include pc-tablet-size {
        padding: $leng-30 $leng-12 $leng-30;
      }

      ul {
        padding-bottom: $leng-30;
      }
    }
  }

  &-title {
    display: flex;
    font-weight: 500;
    font-size: $size-h5;
    align-items: center;
    padding-bottom: $leng-24;
    @include get-color(color, font-color2);

    button {
      margin-left: auto;
    }
  }
}
.dark {
  position: fixed;
  top: 0;
  left: 0;
  //z-index: 60;
  z-index: 50;
  width: 100%;
  height: 100vh;
  transition: all 0.3s;
  @include get-color(background-color, opacity-color1);
  @include blur-filter2;
}
.bodyfixed {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  overflow: hidden;
  .wrapper {
  }
}

//공통스타일
.album {
  position: relative;
  width: 300px;
  transition: all 0.4s ease-in-out;

  @include mobile-size-only {
    width: 180px;
  }
  @include mobile-size {
    width: 140px;
  }

  @at-root .bannel-inner & {
    visibility: hidden;
    opacity: 0;
  }

  @at-root .bannel-inner.active & {
    visibility: visible;
    opacity: 1;

    .album-disk {
      left: 35%;
      transition-delay: 0.5s;
    }
  }

  &:hover .album-disk,
  &:focus .album-disk {
    left: 45%;
    transition-delay: 0.2s;
  }

  //커버이미지
  &-cover {
    display: block;
    position: relative;
    z-index: 1;
    width: 80%;
    max-height: 80vh;
    padding-bottom: 80%;
    box-shadow: 2px 14px 40px rgba(0, 0, 0, 0.3);
    @include bg-cover;
  }
  //디스크
  &-disk {
    position: absolute;
    top: 50%;
    left: 0;
    width: 75%;
    background: linear-gradient(120deg, #000, #333, #000);
    animation: ani-disk 8s linear infinite;
    transform: translateY(-50%);
    transition: left 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 50%;
    padding-bottom: 75%;
    box-shadow: 4px 14px 40px rgba(0, 0, 0, 0.3);

    &-inner {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 35%;
      border: 2px dashed rgba(255, 255, 255, 0.4);
      transform: translate(-50%, -50%);
      padding-bottom: 35%;
      background-color: #0473a4;
      border-radius: 50%;
      box-sizing: content-box;

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 7px;
        height: 7px;
        content: "";
        transform: translate(-50%, -50%);
        background-color: #000;
        border-radius: 50%;
      }
    }
  }
}
.pager {
  padding: 4px 20px;
  border: 1px solid $font-black2;
  //background-color: rgba(255, 255, 255, 0.4);
  color: $font-black2;
  border-radius: 25px;
  @include font-number;
}
//말줄임
.elipsis-wrap {
  width: 100%;
  padding: $leng-12 $leng-16 $leng-16;

  p {
    @include txt-line(none);
  }
  &-title {
    font-weight: bold;
    font-size: $size-h5;
  }
  &-text {
    //
  }
}
.contents-title {
  @include containerBox;
  a {
    display: flex;
    align-items: center;
  }
  span {
    &:nth-child(1) {
      font-weight: bold;
      font-size: $size-h4;
      margin-right: auto;
    }
    &:nth-child(2) {
      @include get-color(color, font-color3);
    }
  }
}

//인풋
.input-box {
  position: relative;
  bottom: $leng-12;
  left: $leng-12;
  z-index: 2;
  //width: calc(100% - 45px - 12px - 24px);
  &-inp {
    width: 100%;
    height: 45px;
    padding: 0 $leng-12;
    border: 0 none;
    background-color: transparent;
    &:focus ~ .input-box-focus::after,
    //&:not([value=""]) ~ .input-box-focus::after,
    &.active ~ .input-box-focus::after {
      width: 100%;
    }
  }
  &-focus {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    &::after {
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0%;
      height: 100%;
      content: "";
      transform: translateX(-50%);
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      background-color: $brand-color;
    }
  }
}
//버튼
.btn-circle {
  padding: 4px 10px;
  border: 1px;
  font-size: $size-small;
  border-radius: 25px;
  border-style: solid;
  @include get-color(border-color, font-color3);
  @include get-color(color, font-color3);
}
.arrow-btn {
  display: flex;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  color: rgba(0, 0, 0, 0.4);
  font-size: $leng-20;
  text-align: center;
  transform: translateY(-50%);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  &-prev {
    left: calc(50% - 600px - 40px);

    @include mobile-size-only {
      left: 0;
    }
  }
  &-next {
    right: calc(50% - 600px - 40px);

    @include mobile-size-only {
      right: 0;
    }
  }
}

//공통 active
//.sticky

//pc,mo 공통으로 고정
.sticky-elem .header-cont {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  // @include blur-filter;
}
//live 동영상 보이기
.live {
  li.active {
    .card-full-cover {
      visibility: hidden;
    }
    video {
      z-index: 1;
      visibility: visible;
    }
  }
}

//드래그 시 선택효과 제거
.nonetouch {
  a {
    pointer-events: none;
    user-select: none;
  }
}

//animation
@keyframes ani-indicator {
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes ani-live {
  0% {
    background: liner-gradient(
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 55%,
      rgba(0, 0, 0, 0) 75%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  60% {
    width: 100%;
  }
  75% {
    width: 400%;
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes ani-disk {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(360deg);
  }
}
