@import "./common.scss";

//@include get-color(color, text-color);
//@include get-color(background-color, bg-color);
.header {
  position: fixed;
  top: 0;
  left: 65px;
  width: calc(100% - 65px);
  transition: all 0.5s linear;
  @include get-color(background-color, bg-color1);
}
.detail-scroll .header,
.detail-scroll[data-theme="dark"] .header {
  background-color: transparent;
  border-bottom-color: transparent;
  @include pc-fixed-content;
  .logo,
  .header-prev-btn {
    color: $font-white1;
  }
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.detail-title {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 250px;
  @include pc-fixed-content;

  &-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
  }
  &-cover-img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/assets/images/bg/bg22.jpg") center center no-repeat;
    transform: scale(1);
    background-size: cover;
    background-attachment: fixed;
  }
  .containerBox {
    position: absolute;
    bottom: 70px;
    left: 0;
  }

  .elipsis-wrap {
    color: $font-white1;
  }
}

/* 본문 영역 */
.detail-cont {
  position: relative;
  z-index: 1;
  width: 100%;
  transition: all 0.3s;
  margin-top: 200px;
  padding-top: $leng-60;
  border-radius: 0;
  box-shadow: $box-shadow4;
  @include get-color(background-color, bg-color1);
  @at-root .detail-scroll & {
    border-radius: 25px 25px 0 0;
  }
  p {
    font-size: 16px;
    padding-bottom: $leng-40;
  }
}
