@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");

// pc 기본폰트 : 16px //모바일 :14px
$size-h1: 1rem+16px; //32
$size-h2: 1rem+12px; //26
$size-h3: 1rem+10px; //24
$size-h4: 1rem+6px; //20
$size-h5: 1rem+4px; //18
$size-h6: 1rem+2px; //16
$size-normal: 1rem; //14
$size-small: 1rem-2px; //12

$leng-8: 8px;
$leng-10: 10px;
$leng-12: 12px;
$leng-20: 20px;
$leng-40: 40px;

//color
//brand-color
$brand-color: #009688;
$alram-color: #ff3120;

$colors: (
  light: (
    //font-color
    font-color1: #191919,
    font-color2: #767676,
    font-color3: #999999,
    //line-color
    line-color1: #dbdbdb,
    line-color2: #ededed,
    //bg-color
    bg-color1: #fff,
    bg-color2: #f1f1f5,
    bg-color3: #f8f8fa,
  ),
  dark: (
    //font-color
    font-color1: #e1e1e1,
    font-color2: #a2a2a2,
    font-color3: #9e9e9e,
    //line-color
    line-color1: #2c2c2c,
    line-color2: #282828,
    //bg-color
    bg-color1: #121212,
    bg-color2: #1d1d1d,
    bg-color3: #2d2d2d,
  ),
);

@function get-color($key, $type: "light") {
  @each $name, $color in map-get($colors, $type) {
    @if ($key == $name) {
      @return $color;
    }
  }
}

@mixin get-color($property, $color) {
  #{$property}: get-color($color);
  @at-root body[data-theme="dark"] {
    #{$property}: get-color($color, dark);
  }
  @at-root body[data-theme="dark"] & {
    #{$property}: get-color($color, dark);
  }
}

@mixin logo-font {
  font-family: "Gugi", cursive;
}

//@include get-color(color, text-color);
//@include get-color(background-color, bg-color);

html,
body {
  font-size: 14px;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.05em;
  line-height: 1.71;
  margin-bottom: 0px;
  width: 100%;
}

.wrapper {
  height: auto;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.containerBox {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.containerBox2 {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 $leng-20;
}

.containerBox3 {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-right: $leng-20;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}
