@import "./reset.scss";
@import "./mixin.scss";

//layout
html,
body {
  width: 100%;
  font-size: 14px;
  min-height: 100vh;
 // min-height: -webkit-fill-available;
  min-height: calc(var(--vh, 1vh) * 100);
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  width: 100%;
  font-weight: 400;
  line-height: 1.71;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.05em;
  word-spacing: -0.1em;
  margin-bottom: 0px;
  @include get-color(background-color, bg-color1);
  @include get-color(color, font-color1);
}
.wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  // padding-top: 115px;
  overflow-x: hidden;
  flex-direction: column;
  min-height: 100vh;
 // min-height: -webkit-fill-available;
  min-height: calc(var(--vh, 1vh) * 100);

  @include pc-tablet-size {
    width: calc(100% - 65px);
    margin-left: $leng-65;
  }
}

.header-cont {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  transition: transform 0.3s;
}
.header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: $leng-65;
  border-bottom-width: 1px;
  border-style: solid;
  @include get-color(background-color, bg-color1);
  @include get-color(border-color, line-color1);
  @include pc-tablet-size {
    z-index: 35;
  }
  .containerBox {
    display: flex;
    position: relative;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  &-logo {
    color: $brand-color;
    font-size: $size-h2;
    @include logo-font;
  }

  &-prev-btn {
    display: flex;
    position: absolute;
    top: 0;
    left: 24px;
    width: 45px;
    height: 100%;
    align-items: center;
    @include pc-tablet-size {
      left: 16px;
    }
  }
  &-close-btn {
    display: flex;
    position: absolute;
    top: 0;
    right: 24px;
    width: 45px;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    @include pc-tablet-size {
      right: 16px;
    }
  }
}
.gnb {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 60;
  //width: calc(100% - 16px);
  width: 100%;
  padding-bottom: env(safe-area-inset-bottom);
  // margin: 8px;
  justify-content: center;
  align-items: center;
  // border-radius: $leng-10;
  box-shadow: $box-shadow2;
  @include get-color(background-color, bg-color1);

  @include pc-tablet-size {
    position: fixed;
    top: 0;
    width: $leng-65;
    height: 100vh;
   //fill-available  height: -webkit-fill-available;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0;
    transform: translate3d(0, 0, 0) !important;
    box-shadow: none;
    align-items: flex-start;
    border-right-width: 1px;
    border-right-style: solid;
    border-radius: 0;
    @include get-color(border-right-color, line-color1);
  }

  &-list {
    display: flex;
    width: 100%;
    height: 60px;
    @include pc-tablet-size {
      flex-direction: column;
    }

    li {
      position: relative;
      width: 20%;
      height: 100%;
      @include pc-tablet-size {
        width: 100%;
      }
      @include tablet-size {
        &:nth-child(3) .gnb-list-icon {
          span {
            color: rgba(255, 255, 255, 0.9);
            mix-blend-mode: overlay;
          }
        }
      }

      a,
      button {
        display: flex;
        position: relative;
        width: 100%;
        height: 60px;
        font-weight: 500;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include get-color(color, font-color3);
        @include tablet-size {
          span {
            pointer-events: none;
          }
          &.active .gnb-list-icon {
            //transform: translateY(-30px);
            span {
              color: rgba(255, 255, 255, 0.9);
              mix-blend-mode: overlay;
            }
          }
          &.active .gnb-list-text {
            transform: translateY(10px);
            opacity: 0;
          }
        }
        @include pc-tablet-size {
          height: $leng-65;

          &:hover .gnb-list-icon,
          &:active .gnb-list-icon,
          &.active .gnb-list-icon {
            color: $brand-color;
            span {
              color: $brand-color;
            }
          }
          &:hover .gnb-list-text,
          &:active .gnb-list-text,
          &.active .gnb-list-text {
            color: $brand-color;
            transform: translateY(0px);
            opacity: 1;
          }
        }
      }
    }

    &-icon {
      display: block;
      position: relative;
      z-index: 1;
      text-align: center;
      transition: all 0.3s;
      pointer-events: none;
      span {
        font-size: 2rem;
        line-height: 1;
        vertical-align: -6px;
      }
    }

    &-text {
      font-size: $size-small;
      transition: all 0.3s;
      pointer-events: none;
      opacity: 1;
      @include get-color(color, font-color4);
    }
  }

  &-indicator {
    position: absolute;
    top: -10px;
    width: 65px;
    height: 65px;
    transform: translate3d(0, 0, 0);
    box-shadow: $box-shadow2;
    border-radius: 50%;
    overflow: hidden;
    pointer-events: none;
    isolation: isolate;
    backface-visibility: hidden;
    @include pc-tablet-size {
      display: none;
    }
    &::after {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      content: "";
      animation: 8s linear ani-indicator infinite;
      margin-left: -50%;
      margin-top: -50%;
      @include brand-color2;
    }
  }
}

.theme-btn {
  position: absolute;
  right: 12px;
  width: 45px;
  height: 45px;
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/theme-light.svg);
}

.contents {
  flex: 1;
}
.footer {
  padding-bottom: $leng-100;
  @include get-color(background-color, bg-color2);
  @include get-color(color, font-color2);
  @include pc-tablet-size {
    padding-bottom: $leng-40;
  }
  &-cont {
    display: flex;
    padding: $leng-20 0;
    align-items: center;
  }

  &-logo {
    font-size: $size-h3;
    margin-right: auto;
    @include get-color(color, font-color2);
    @include logo-font;
  }
}

.loader-body {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 65;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .loaders {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 65;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    .loader {
      display: flex;
      width: 30px;
      height: 45px;
      justify-content: space-between;
      align-items: center;
      &-elem {
        width: 6px;
        height: 100%;
        animation: ani-loader 0.3s linear alternate infinite;
        background-color: $brand-color;
        &:nth-child(1) {
          animation-delay: -0.1s;
        }
        &:nth-child(2) {
          animation-delay: -0.3s;
        }
        &:nth-child(3) {
          animation-delay: -0.6s;
        }
      }
    }
  }
}
.loaders {
  display: none;
}

@keyframes ani-loader {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1.5);
  }
}
