
//@include get-color(color, text-color);
//@include get-color(background-color, bg-color);

html,
body {
  font-size: 14px;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.05em;
  line-height: 1.71;
  margin-bottom: 0px;
  width: 100%;
}

.wrapper {
  height: auto;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.containerBox {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
.containerBox2 {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 $leng-20;
}

.containerBox3 {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-right: $leng-20;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}
