/*mixin*/
//font
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Meow+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
//꺽쇠
@import url("https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap");
:root {
  --vh: 100%;
}
@mixin logo-font {
  // font-family: "League Script", cursive;
  font-family: "Meow Script", cursive;
  transform: skewX(-10deg) rotateZ(-5deg);
}
@mixin gt {
  font-family: "Nanum Myeongjo", serif;
}
@mixin font-number {
  font-family: "Jost", sans-serif;
}

//inline-box 요소박스
@mixin inbox {
  font-size: 0px;
}
@mixin inb {
  display: inline-block;
  font-size: 14px;
}
//플렉스 요소
@mixin flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex--slide {
  display: flex;
  position: relative;
  height: 100%;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

//숨기
.hidden {
  position: absolute;
  top: -9999%;
  left: -9999%;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
@mixin hidden {
  position: absolute;
  top: -9999%;
  left: -9999%;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

//float해제
@mixin clearFix {
  &:after {
    display: block;
    clear: both !important;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    content: "";
    visibility: hidden;
  }
}
// 프로필 배경 cover
@mixin bgs-cover($w, $h, $br) {
  width: $w;
  height: $h;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: $br;
}

// 프로필 배경 cover
@mixin bg-cover() {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
//한줄 넘어갈때 말줄임표
@mixin txt-line($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;

  @if $line==none {
    white-space: nowrap;
  } @else {
    display: block;
    display: -webkit-box;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

//border
@mixin border($wid, $color) {
  border: $wid solid $color;
}
@mixin border-line($position, $wid, $color) {
  border-#{$position}: $wid solid $color;
}

//박스셰도우
$box-shadow1: 5px 5px 10px -2px rgba(0, 0, 0, 0.1);
$box-shadow2: -1px 1px 10px 1px rgba(0, 0, 0, 0.1);
$box-shadow3: 0px 5px 20px -4px rgba(0, 0, 0, 0.1);
$box-shadow4: 0px 5px 30px -5px rgba(0, 0, 0, 0.2);

//불투명 필터
@mixin blur-filter {
  backdrop-filter: saturate(180%) blur(15px);
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  -moz-backdrop-filter: saturate(180%) blur(15px);
}

@mixin blur-filter2 {
  backdrop-filter: saturate(180%) blur(5px);
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  -moz-backdrop-filter: saturate(180%) blur(5px);
}

// pc 기본폰트 : 16px //모바일 :14px
$size-h1: calc(1rem + 16px); //32
$size-h2: calc(1rem + 12px); //26
$size-h3: calc(1rem + 10px); //24
$size-h4: calc(1rem + 6px); //20
$size-h5: calc(1rem + 4px); //18
$size-h6: calc(1rem + 2px); //16
$size-normal: calc(1rem); //14
$size-small: calc(1rem - 2px); //12

$leng-8: 8px;
$leng-10: 10px;
$leng-12: 12px;
$leng-16: 16px;
$leng-20: 20px;
$leng-24: 24px;
$leng-30: 30px;
$leng-40: 40px;
$leng-60: 60px;
$leng-65: 65px;
$leng-60: 70px;
$leng-80: 80px;
$leng-100: 100px;

//color
//brand-color
$brand-color: #009688;
@mixin brand-color2 {
  background-color: #abe9cd;
  background-image: linear-gradient(315deg, #abe9cd 0%, #009688 74%);
}
$brand-color3: #eff8ef; //#deebdd;

$alram-color: #ff3120;

$font-black1: #191919;
$font-black2: #4a4a4a;
$font-black3: #767676;
$font-black4: #999999;
$font-white1: #e1e1e1;
$font-white2: #bbbbbb;
$font-white3: #a2a2a2;
$font-white4: #9e9e9e;
$bg-black1: #121212;
$bg-white1: #fafafa;

//컬러설정
$colors: (
  light: (
    //font-color
    font-color1: #191919,
    font-color2: #4a4a4a,
    font-color3: #767676,
    font-color4: #999999,
    //line-color
    line-color1: #ededed,
    line-color2: #dbdbdb,
    //bg-color
    bg-color1: #fff,
    bg-color2: #e0e0e0,
    bg-color3: #cecece,
    bg-color4: rgba(0, 0, 0, 0.1),
    bg-color5: #fff,
    //point-color
    point-color: #eff8ef,
    //blur
    opacity-color1: rgba(255, 255, 255, 0.5),
  ),
  dark: (
    //font-color
    font-color1: #e1e1e1,
    font-color2: #bbbbbb,
    font-color3: #a2a2a2,
    font-color4: #9e9e9e,
    //line-color
    line-color1: #2c2c2c,
    line-color2: #282828,
    //bg-color
    bg-color1: #121212,
    bg-color2: #1d1d1d,
    bg-color3: #2d2d2d,
    bg-color4: rgba(18, 18, 18, 0.1),
    bg-color5: #1d1d1d,
    //point-color
    point-color: #1d2423,
    //blur
    opacity-color1: rgba(0, 0, 0, 0.5),
  ),
);

@function get-color($key, $type: "light") {
  @each $name, $color in map-get($colors, $type) {
    @if ($key == $name) {
      @return $color;
    }
  }
}

@mixin get-color($property, $color) {
  @at-root body[data-theme="dark"] {
    #{$property}: get-color($color, dark);
  }
  @at-root body[data-theme="dark"] & {
    #{$property}: get-color($color, dark);
  }
  #{$property}: get-color($color);
}

//mediaquery
@media (max-width: 992px) {
  .spanblock {
    display: inline;
  }
}

$breakpoint-pc: (1280px + 65px);
$breakpoint-tablet: 992px;
$breakpoint-mobile: 768px;

@mixin pc-size-only {
  @media (min-width:#{$breakpoint-pc}) {
    @content;
  }
}

@mixin mobile-size-only {
  @media (max-width:#{$breakpoint-pc - 1px}) {
    @content;
  }
}
@mixin pc-tablet-size {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin pc-size {
  @media (min-width:#{$breakpoint-tablet}) {
    @content;
  }
}

@mixin tablet-size {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin mobile-size {
  @media (max-width:#{$breakpoint-mobile - 1px}) {
    @content;
  }
}

//사이즈
.containerBox {
  width: 100%;
  padding: 0 #{$leng-12/2};
  margin: 0 auto;
  max-width: 1280px;

  @include mobile-size-only {
    padding: 0 $leng-24;
  }
}

@mixin containerBox {
  width: 100%;
  padding: #{$leng-12 / 2};
  margin: 0 auto;
  max-width: 1280px;
  @include mobile-size-only {
    padding: 0 $leng-24;
  }
}

@mixin containerBox2 {
  width: 100%;
  margin: 0 auto;
  transform: translateX(#{-$leng-12 / 2});
  max-width: 1280px;
  overflow: hidden;
  padding-left: $leng-12;
  @include mobile-size-only {
    transform: translateX(0);
    padding-left: $leng-24;
  }
}

//스크롤박스
//x스크롤
.slide-list {
  // @include containerBox2;
  padding-left: $leng-12;
  @include mobile-size-only {
    padding-left: $leng-24;
  }
}

.slide-wrap {
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-x: auto !important;
  cursor: grab;

  // touch-action: pan-x;
  // scroll-snap-type: x proximity;

  /*  & > ul li {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  } */
  /*transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); 
*/
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}
@mixin slide-wrap {
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-x: auto !important;
  cursor: grab;
  //touch-action: pan-x;
  //scroll-snap-type: x proximity;

  /*  & > ul li {
    scroll-snap-align: start;
    scroll-snap-stop: always;
  } */
  /*transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); 
*/
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}

//y스크롤
.srcoll-wrap {
  /* touch-action: pan-x;
  scroll-snap-type: x proximity; */
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  //스크롤설정
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    /* 스크롤바 막대 높이 설정 */
    height: 17%;
    /* 스크롤바 둥글게 설정 */
    border-radius: 10px;
    background-color: rgba(33, 133, 133, 0.5);
  }
  /* 스크롤바 뒷 배경 설정*/
  &::-webkit-scrollbar-track {
    background-color: rgba(33, 133, 133, 0.1);
  }
}
@mixin scroll-wrap {
  /* touch-action: pan-x;
  scroll-snap-type: x proximity; */
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  //스크롤설정
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    /* 스크롤바 막대 높이 설정 */
    height: 17%;
    /* 스크롤바 둥글게 설정 */
    border-radius: 10px;
    background-color: rgba(33, 133, 133, 0.5);
  }
  /* 스크롤바 뒷 배경 설정*/
  &::-webkit-scrollbar-track {
    background-color: rgba(33, 133, 133, 0.1);
  }
}

@mixin slide-padding-left {
  //padding-left: $leng-12;
  @include mobile-size-only {
    padding-left: $leng-24;
  }
}

//pc대응 컨텐츠 fixed 사이즈
@mixin pc-fixed-content {
  @include pc-tablet-size {
    left: $leng-65;
    width: calc(100% - 65px);
  }
}
