/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@charset 'utf-8';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  word-break: keep-all;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}



a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
table caption {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  border: 0px;
  background: none;
}

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  box-sizing: border-box;
  line-height: 1;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  line-height: 1;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  border: 0 none;
} /*
input[type="text"], input[type="password"], input[type="tel"], input[type="email"] {
    border:0 none;
}*/
/* Make `a` like a button */
[role="button"] {
  color: inherit;
  cursor: default;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: pre;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

[role="button"]:focus,
[role="button"]:active {
  outline: 0 none !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select:focus,
select:active {
  outline: 0 none !important;
}

input::placeholder {
  color: 333;
}
textarea::placeholder {
  color: 333;
}

input::placeholder {
  color: #acacb6;
}
/* Firefox 4-18 */
:-moz-placeholder {
  color: #acacb6;
}

/* Firefox 19-50 */
::-moz-placeholder {
  color: #acacb6;
}

/* - Internet Explorer 10–11
   - Internet Explorer Mobile 10-11 */
:-ms-input-placeholder {
  color: #acacb6;
}

/* Edge (also supports ::-webkit-input-placeholder) */
::-ms-input-placeholder {
  color: #acacb6;
}

select::-ms-expand {
  display: none;
}

input::-ms-clear {
  display: none;
}

input:focus,
select:focus {
  outline-style: none;
  border-color: inherit;
}

/* don't show the eye for password inputs */
::-ms-reveal {
  width: 0;
  height: 0;
  display: none;
}
